@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="background-image">
        <a href="Clients/Index" class="arrow-link" style="display:flex">
            <h1 class="clients-header">Our Clients</h1>
        </a>
    </div>


    <div style="display:flex; justify-content:center">
        <img src="https://anteelo.com/wp-content/uploads/2021/12/InShot-Photo-Editor-screenshot.jpg" style="min-width:500px" height="800">
    </div>
    <br>
   



</div>
