@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="tag-line">
    <p>
        <h2>
            This web application is created using
            ASP.Net Core, Razor Pages and SQL Server Database
        </h2>
        where one can do the CRUD operations on the data in clients list present on <a href="/clients">"Clients"</a> page of this application.
    </p>
</div>
